__pycache__/
venv/
test_env
#prolly not necessary but doesn't hurt
.venv/

#also ignore environment var, although I don have any lol
.env
.vscode/
.idea/

#ignore all the debugging files as all these should be runtime generated
*.json
*.pem
*.sig
*.py
*.txt
git-filter-repo
.coverage

#but the following we do not ignore, exceptions:
!dummy.json
!main.py
!api.py
!util.py
!merkle_proof.py
!personal.txt
!pyproject.toml
!poetry.lock
!tests/**
!dist/**
!cyclonedx-sbom.json