certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
cryptography==43.0.1
distlib==0.3.9
filelock==3.16.1
identify==2.6.2
idna==3.10
nodeenv==1.9.1
platformdirs==4.3.6
pre_commit==4.0.1
pycparser==2.22
PyYAML==6.0.2
requests==2.32.3
scapy==2.6.0
urllib3==2.2.3
virtualenv==20.27.1
